<section class="section-1 center flex-column">
  <h1 class="text-align-center hero-title">{{"shared.BestCleaningCompanyInQatar" | translate}}:<br>
    {{"shared.FindReliableProfessionalCleaningServices" | translate}}</h1>
</section>

<!-- section 2 -->

<section class="section-2 flex-column page-container" [ngClass]="{'arabic-text': lang === 'ar'}">

  <p class="gray-text-color">{{"paragraph.KeepingACleanAndOrganizedSpace" | translate}}</p>

  @if (posts.length > 0) {
    @for (post of posts; track $index) {
      <div class="post">
        <h1 class="primary-text-color" [innerHTML]="($index+ 1) + '. ' + post.title.rendered"></h1>
        <p class=" gray-text-color post-content" [innerHTML]="_sharedService.sanitizeHtml(post.content.rendered)"></p>
      </div>
    }
  } @else {
      <h1 class="primary-text-color center title-size">{{"blogs.noPosts" | translate}}</h1>
  }

</section>