<section class="app-footer ">
    <div class="flex-around flex-wrap gap-30">
        <section class="logo">
            <img src="../../assets/images/Logo-En.png" alt="">
            <p>{{"paragraph.ExperienceConvenient" | translate}}</p>
            <div class="social-media-container">
                <div class="social-media-item">
                    <mat-icon 
                    class="social-media-icon instagram" 
                    svgIcon="instagram"
                    (click)="openUrl('https://www.instagram.com/carlamaid.qa/')"
                    ></mat-icon>
                </div>
                <div class="social-media-item">
                    <mat-icon 
                    class="social-media-icon facebook" 
                    svgIcon="facebook"
                    (click)="openUrl('https://www.facebook.com/carlamaid.qa')"
                    ></mat-icon>
                </div>
                <div class="social-media-item">
                    <mat-icon 
                    class="social-media-icon linkedin" 
                    svgIcon="linkedin"
                    (click)="openUrl('https://www.linkedin.com/company/carlamaid/')"
                    ></mat-icon>
                </div>
                <div class="social-media-item">
                    <mat-icon 
                    class="social-media-icon x" 
                    svgIcon="x"
                    (click)="openUrl('https://x.com/MaidQa84948')"
                    ></mat-icon>
                </div>
                <div class="social-media-item">
                    <mat-icon class="social-media-icon whatsapp" svgIcon="whatsapp"
                    (click)="openUrl('https://wa.me/97471236660')"
                    ></mat-icon>
                </div>
    
            </div>
        </section>

        <section class="gap-10 our-info">
            <div>
                <h1>{{"shared.Company" | translate}}</h1>
                <p>{{"shared.OurVision" | translate}}</p>
                <p>{{"shared.OurMission" | translate}}</p>
                <p>{{"shared.OurValues" | translate}}</p>
            </div>
            <div>
                <h1>{{"shared.Services" | translate}}</h1>
                <p>{{"shared.HomeCleaning" | translate}}</p>
                <p>{{"shared.BusinessCleaning" | translate}}</p>
                <p>{{"shared.HospitalityStaff" | translate}}</p>
            </div>
            <div>
                <h1>{{"shared.ContactUs" | translate}}</h1>
                <p dir="ltr">+974 7123 6660</p>
                <p>Info&#64;carlamaid.qa</p>

            </div>
        </section>
    </div>
</section>