<header>
  <img class="logo" src="../../assets/images/Logo-En.png" alt="no-no">
  <nav>
    <li routerLink="/">{{'shared.home'| translate}}</li>
    <li routerLink="/our-services">{{'shared.services' | translate}} </li>
    <li routerLink="/about-us">{{'shared.aboutUs' | translate}}</li>
    <li routerLink="/blogs">{{'shared.blogs' | translate}}</li>
  </nav>

  <section class="flex-center gap-10">
    <p routerLink="/contact-us">{{'shared.contactUs'|translate}}</p>
      <button class="btn-primary">{{'shared.bookNow'| translate}}</button>
  </section>

  <button class="translation-button" (click)="switchLanguage()">
    <mat-icon>language</mat-icon>
    {{ currentLang === 'en' ? 'العربية' : 'English' }}
  </button>
</header>