<header [ngClass]="{'ar': direction() == 'rtl'}">
  <nav class="nav">
    <p-menubar [model]="items" [dir]="direction()" >
      <ng-template pTemplate="start">
        <div class="logo">
          @if( getLang() == 'en'){
            <img src="../../assets/images/carla-en.png" alt="logo">
          }@else {
            <img src="../../assets/images/carla-ar.png" alt="logo-ar">
          }
        
         
        </div>
      </ng-template>
      <ng-template pTemplate="item" let-item let-root="root">
        <a pRipple [routerLink]="item.link" class="flex align-items-center p-menuitem-link">
          <span [class]="item.icon"></span>
          <span class="ml-2">{{ item.label }}</span>
        </a>
      </ng-template>
      <ng-template pTemplate="end">
        <div class="flex gap-10 items-center">
          <span routerLink="/contact-us" class="clickable">{{'shared.contactUs' | translate}}</span>
          <button class="translation-button" (click)="switchLanguage()">
            <mat-icon>language</mat-icon>
            {{ getLang() === 'en' ? 'العربية' : 'English' }}
          </button>
        </div>

      </ng-template>
    </p-menubar>
  </nav>



</header>