<header>
  <img class="logo" src="../../assets/images/Logo-En.png" alt="no-no">
  <nav>
    <li><a routerLink="home">{{'shared.home'| translate}}</a></li>
    <li><a routerLink="our-services">{{'shared.services' | translate}}</a> </li>
    <li><a routerLink="aboutUS">{{'shared.aboutUs' | translate}}</a> </li>
    <li><a routerLink="Blogs">{{'shared.blogs' | translate}}</a></li>
  </nav>

  <section class="flex-center gap-10">
    <p>{{'shared.contactUs'|translate}}
    <p>
      <button class="btn-primary">
        {{'shared.bookNow'| translate}}
      </button>
  </section>

  <button class="translation-button" (click)="switchLanguage()">
    <mat-icon>language</mat-icon>
    {{ currentLang === 'en' ? 'العربية' : 'English' }}
  </button>
</header>