.img-container
    position: relative
    display: inline-block
    display: flex
    flex-direction: column
    .heroImg
        width: 100%
        height: auto
        position: relative
        z-index: 0
        display: block
    .hero-button
        position: relative
        bottom: 11rem
        left: 9rem
        width: 19%
    .img-text
        position: absolute
        top: 8px
        left: 95px
        
        h1
            color: #FFFFFF
            font-size: 3.3vw
            width: 680px
            margin: 0

        h3
            font-size: 1.5vw
            color: #ffffff
            font-weight: 600
            margin: 0
        p
            font-size: 1vw
            color: #ffffff
            font-weight: 400
            width: 50%
            margin: 10px 0
        .p-width
            width: 20px
.whyUs-section
    .whyUs-text
        h1
            flex: 2
            font-size: 64px
            font-weight: 700
            margin: 0
        .whyUs-paragraph
            width: 75%
        .carla-stands
            width: 587px
            color: #979797
            // ----------------------------------------------------------------
        .features-wrapper 
            display: flex
            gap: 20px
            justify-content: center
            padding: 20px
            .why-us-card 
                color: #333
                flex: 1 1 200px
                // max-width: 250px
                padding: 20px
                text-align: center
                height: 0
                .card-header
                    display: flex
                    align-items: center 
                    gap: 10px 
                .icon
                    font-size: 2rem
                    color: #007bff 
                    margin-bottom: 10px
                    h3
                        font-size: 1.1rem
                        color: #007bff 
                        margin: 10px 0
                    p
                        font-size: 0.9rem
                        color: #666
       
    .whyUs-imgs
        img
            // width: 60vw
            width: 90%
// section3
.experience-text-container
    width: 40%
    .feature-list
    background-color: #f9fbfd
    padding: 20px
    border-radius: 8px
    font-family: Arial, sans-serif

    .feature-item
        display: flex
        align-items: flex-start
        margin-bottom: 20px

        .check-icon
        font-size: 24px
        color: #38bdf8 
        margin-right: 12px

        .feature-content
        h3
            font-size: 18px
            font-weight: 600
            margin: 0

        p
            margin: 4px 0 0 0
            font-size: 14px
            line-height: 1.5

    
.mid-img
    margin-top: 50px
    img
        width: 100%
        height: auto

.section-5-container

    .p-title
        font-size: 24px
    .our-cards
        display: flex
        flex-wrap: wrap
        gap: 20px
        padding: 10px

.section-6
    background-color: #e1f7f7
    .slider-title
        display: flex
        align-items: center
        justify-content: space-around
        gap: 21%
        h1
            margin: 0
    .cards-container
        justify-content: space-around
        img
            width: 100%
            height: auto
        p
            width: 98%
        .width-container
            width: 30%
       
.section-7
    .img-width
        width: 25%
        img
            width: 100%
        p
            width: 98%
